.header{
    background-color: black;
    color: yellow;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 10px;
}
.img-fundo{
    z-index: -1;
    float: right;
    position: relative;
    z-index: 2;
}
body{
    margin: 0;
    padding: 0;
}
.cor-visus{
    color: yellow;
}
.texto-principal{
    margin-top: 10%;
    margin-left: 5%;
}
.warp{
    z-index: 1;
}