.header{
    background-color: black;
    
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 10px;
}
.img-fundo{
    z-index: -1;
    float: right;
    position: relative;
    
}
body{
    margin: 0;
    padding: 0;
}
.cor-visus{
    color: yellow;
}