@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.woff2') format('woff2'),
         url('fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'montserrat';
    src: url('fonts/Montserrat-Bold.woff2') format('woff2'),
         url('fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.woff2') format('woff2'),
         url('fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Playfair Display';
    src: url('fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf') format('truetype'),
         url('fonts/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

body {
  margin: 0;
  font-family:'Montserrat', sans-serif;
  color: #1e1e2f;
  background-color: #fff;
}

header {
  background-color: #23305B;
  color: #ffcc00;
  padding: 25px 30px;
  font-weight: bold;
  font-size: 22px;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 170px 5%;
}

.titulo-pri {
  font-family: 'Playfair Display', serif;
  font-size: 100px;
}
.conteudo-titulo{
  padding-bottom: 100px;
}
.conteudo-titulo h1 {
  font-family: 'Playfair Display', serif;
  color: #23305B;
  font-size: 200px;
  margin-bottom: 10px;
  position: relative;
}

.conteudo-titulo p {
  font-size: 40px;
  max-width: 750px;
  position: relative;
  margin-top: 0;
  color: #23305B;
}

.titulo-img {
  width: 650px;
}

.sobre1 {
  background-color: #23305B;
  color: #fff;
  padding: 60px 10%;
  font-size: 22px;
}

.sobre1 h2 {
  color: #ffcc00;
  font-size: 42px;
  margin-bottom: 30px;
}

.conteudo-sobre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.conteudo-sobre .texto1 {
  max-width: 400px;
  line-height: 1.6;
}

.img-sobre1 {
  width: 350px;
  border-radius: 10px;
}
/* parte do "trabalho" */
.trab {
  padding: 170px 10%;
  background: #fff;
}

.trab h2 {
  font-size: 30px;
  color: #23305B;
  margin-bottom: 40px;
}

.trab-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #eaeaea;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
}

.card.dark {
  background: #23305B;
  color: #fff;
  font-size: 18px;
}

/* parte do time */
.time {
  background-color: #23305B;
  color: #fff;
  padding: 60px 10%;
}

.time h2 {
  color: #ffcc00;
  font-size: 30px;
}

.fotos-time {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.fotos-time img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}

.values-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.value-card {
  background: #fff;
  color: #23305B;
  padding: 20px;
  border-radius: 10px;
}

.value-card h4 {
  margin-top: 0;
}